#cadetbluebox{
                background-color: cadetblue;
                padding: 20px;
                border: 10px solid black; 
}

#goldbox{
                background-color: gold;
                border: solid black;
                border-width: 20px 10px;
                margin-left: 260px;
}

#indianredbox{
                background-color: indianred;
                border: 10px solid black;
                margin-left: 40px;
}

div{
    width: 200px;
    height: 200px;
}
p{
    margin:0;
}

